.body_h{
    padding: 12% 0 0 2%;
}
.body_h_header{
    min-height: 20px;
    max-height: 40px;
    height: 16%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
h1{
    max-width: 1710px;
    min-width: 80px;
    width: 140%;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size:calc(10px + 3vw);
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.74);
    }
.body_h_img{
    width: 350%;
    min-width: 180px;
}



@media (max-width: 502px) {
    .body_h{
        padding: 28% 0 0 2%;
    }
    .body_h_header{
        flex-direction: column-reverse;
        justify-content: normal;
        align-items: normal;
    }
    .body_h_img{
        width: 100%;
        min-width: 180px;
    }
    h1{
        width: 100%;
    }
}