.main_body{
    padding-right: 7%;
    background: #1E1E1E;
    display: grid;
    grid-template-columns:15% 85%;
}
@media (max-width: 502px) {
    .main_body{
        display: flex;
        flex-direction: column;
    }
}