
.left_bar{
    padding-top: 41px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 1000px;
    background: rgba(0, 0, 0, 0.1);
}
.logo_img{
    width: 100%;
    min-width: 10px;
}
.logo_name{
    margin: 0;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size:calc(4px + 0.4vw);
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 8px 4px 4px rgba(0, 0, 0, 0.67);
}
ul{ 
    padding-left: 20%;
    margin-top: 20%;
    list-style: none;
}
li{
    margin-top: 10%;
}
.link{
    font-family: 'NTR';
    font-style: normal;
    font-weight: 400;
    font-size:calc(6px + 1vw);
    color: #FFFFFF;
    text-decoration: none;
}
.link:hover{
    background: #ffffff;
    color: #1E1E1E;
}