.player {
    display: flex;
    width: 700px;
	height: 120px;
	background: #FFA216;
    opacity: .8;
    border-radius: 50px;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#progress {
    -webkit-appearance: none;
    width: 50%;
    height: 5%;
    margin-top: 9%;
    background: rgb(255, 255, 255);
    border-radius: 7px;
    cursor: pointer;

}
#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    background:rgb(252, 252, 252);
    width: 5%;
    
    border-radius: 50%;
    border: 8px solid #a85cbe;
    box-shadow: 0 5px 5px rgba(226, 225, 225, 0.22);
    
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
   
}

.controls div{
    width: 40px;
    height: 40px;
    margin: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #a85cbe;;
    border-radius: 50%;
    color: #ffffffd2;
    box-shadow: 0 10px 20px rgba(226, 225, 225, 0.22);
    cursor: pointer;
}

.img_track {
    width: 2%;
	height: 60px;
	background: rgb(0, 0, 0);
   margin-top: 4%;
   
    
}

.controls div:nth-child(2){
    transform: scale(1.5);
    background-color: #0000006b;
    border: 2px solid #a85cbe;;
    
    
   
}
    
    

