.player {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    width: calc(100px + 30vw);
	height: calc(30px + 5vw);
	background: #cf7d02;
    opacity: .8;
    border-radius: 50px;
    align-content: center;
    flex-wrap: nowrap;
}

.player_status_timeline{
    color: #ffffff;
    width: calc(50px + 17vw);
    height: 1px;
    margin: 0;
}

.music_paly_button{
    background: #fdfdfd00;;
    border-radius: 25%;
    border: none;
}
.player_status{

}
.palyer_bar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.player_time{
    display: flex;
    justify-content: space-around;
}    
.player_name{
    width: calc(30px + 17vw);
    justify-content: space-around;
    display: flex;
    align-items: baseline
}
.player_title{
    margin-right: 10%;
    font-size: calc(5px + 1.2vw);
    color: #f0f0f0;
    margin: 0;
}
.player_artist{
    font-size: calc(5px + 0.8vw);
    color: #f0f0f0;
    margin: 0;
}
.player_buttons{
    display: flex;
}
.player_time_value{
    color: #f0f0f0;
    font-weight: 700;
    font-size:calc(5px + 0.6vw) ;
    margin: 0;
}