.playList{
    margin-bottom: 4%;
}
.playlist_header{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch
}
.playlist_header_expand{
    display: flex;
    flex-direction: row-reverse;
}
.playlist_header .link{
    max-height: 50px;
    cursor: pointer;
}
.playlist_header_h2{
    display: block;
    margin-right: 2%;
    max-width: 400px;
    width: calc(100px + 35vw);
    font-family: 'Lexend Zetta';
    font-style: normal;
    font-weight: 600;
    font-size: calc(4px + 1.2vw);
    color: #FFFFFF;
}
.playlist_header_block{
    display: flex;
    max-height: 70px;
    align-items: center;
}
.playlist_header_line{
    height: 1px;
    max-width: 100%;
    min-width: 100px;
    width: 100%;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
    background: linear-gradient(to right, rgba(212, 0, 0, 0.56), rgba(255, 255, 255, 0.096));
}
.playlist_list{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 12% 12% 12% 12% 12% 12%;
    grid-gap: 2%;
}
.playlist_list_block{
    /* width: 198.27px;
    height: 225.03px; */
    display: flex;
    color:#FFFFFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 2% 15% 0;
    max-width:198px;
	min-width:50px;
    min-height: 50px;
    max-height: 225px;
    width: calc(10px + 10vw);
    height: calc(10px + 12vw);
    background: rgba(74, 74, 74, 0.29);
}
.playlist_button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: calc(2px + 3vw);
    height: calc(2px + 3vw);
    border-radius: 100%;
    border: none;
    background: rgba(255, 162, 22, 0.493);
    backdrop-filter: blur(1px);
    cursor: pointer;
}
.playlist_button::before{
    content: "";
    display: block;
    margin-left: 8%;
    border-top: calc(2px + 0.4vw) solid transparent;
    border-left: calc(2px + 0.8vw) solid #ffffff;
    border-bottom: calc(2px + 0.4vw) solid transparent;
}
.playlist_button:active {
    background: rgba(168, 103, 6, 0.493);
}
.playlist_list_block_mus{
    font-size: calc(4px + 0.7vw);
}

@media (max-width: 502px) {
    .playlist_list{
        grid-template-columns: 15% 15% 15% ;
        justify-items: center;  
        grid-gap: 10%;
        margin-bottom: 55%;
      
    }
    .playlist_list_block{
        max-width:198px;
        min-width:25px;
        min-height: 25px;
        max-height: 225px;
        width: calc(25px + 23vw);
        height: calc(25px + 30vw);
    }
    .playlist_header_block{
        flex-direction: column;
    }
    .playlist_header_h2{
        font-size: calc(4px + 3vw);
    }
    .playlist_header .link{
        font-size: calc(4px + 3vw);
    }
    .playlist_button{
        width: calc(2px + 5vw);
        height: calc(2px + 5vw);
    }
    .playlist_button::before{
        border-top: calc(2px + 0.8vw) solid transparent;
        border-left: calc(2px + 1.6vw) solid #ffffff;
        border-bottom: calc(2px + 0.8vw) solid transparent;
    }
    .playlist_list_block_mus{
        font-size: calc(4px + 2vw);
    }
}